<!doctype html>
<title>HOMEPAGE</title>

<body>
  <div>
    <a href="/chat">chat  </a>
    <a href="/{{user}}">your profile</a></br>
</div>
<div>
<h1>HOMEPAGE</h1>
</div>
<a href="/{{user}}">your profile</a></br>
{{loop}}
{{usernames | safe}}
{{end_loop}}


<div>
    <form action="/logout" method="post" enctype=multipart/form-data>
        <input type=submit value=logout>
      </form>
</div>

<div>
  <h3>Note for grader:</h3>
  <h4>we developed an anonymous chat platform.</h4>
  <h4> You can login at /login, register for an account at /register, homepage is at /, visit any profile by going to /&lt;username&gt;</h4>
  <h4>The chat at /chat works by adding an anonymous username and picking a topic (the other user has to have the same topic)</h4>
</div>



</body>
