<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>

</head>
<body >

<div  >

    <h>Login In</h>
    <form  action="/login" method="post">
        <!-- <input type="text" id="emailField" class="fields" name="emailField" placeholder="email address"><br> -->
        <input type="text" id="usernameField" class="fields" name="usernameField" placeholder="username"><br>
        <input type="password" id="passwordField" class="fields" name="passwordField" placeholder="password"><br>
        <input type="submit" value="Log in">

    </form>
</div>
<div  >

    <h>Sing Up</h>
    <form id="" action="/register" method="post">
        <!-- <input type="text" id="emailField" class="fields" name="emailField" placeholder="email address"><br> -->
        <input type="text" id="usernameFieldRegister" class="fields" name="usernameField" placeholder="username"><br>
        <input type="password" id="passwordFieldRegister" class="fields" name="passwordField" placeholder="password"><br>
        <input type="password" id="passwordField2Register" class="fields" name="passwordField2" placeholder="re-enter password"><br>
        <!-- <input type="date" id="dateField" class="fields" name="dateField" placeholder="birthday"><br> -->
        <input type="submit" value="Register">
    </form>
</div>


</body>

<script>


    window.onload = function() {
        const obj = {stat: 'online'};
        const blob = new Blob([JSON.stringify(obj, null, 2)], {type : 'application/json'});
        navigator.sendBeacon('/onlineOffline',  blob);
    };

    window.addEventListener('beforeunload', function logData() {
        const obj = {stat: 'offline'};
        const blob = new Blob([JSON.stringify(obj, null, 2)], {type : 'application/json'});
        navigator.sendBeacon('/onlineOffline',  blob);

    });
</script>
</html>