<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>

</head>
<body >


<h1>Hi</h1>


</body>

<script>


    window.onload = function() {
        const obj = {stat: 'online'};
        const blob = new Blob([JSON.stringify(obj, null, 2)], {type : 'application/json'});
        navigator.sendBeacon('/onlineOffline',  blob);
    };

    window.addEventListener('beforeunload', function logData() {
        const obj = {stat: 'offline'};
        const blob = new Blob([JSON.stringify(obj, null, 2)], {type : 'application/json'});
        navigator.sendBeacon('/onlineOffline',  blob);

    });
</script>
</html>