<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>



   <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script> --!>

    <script type="text/javascript" charset="utf-8">

        var socket = io();

        // This will be used to make a chat room conenection and join it and injection of html
        function gameroom(){
            var userInputUsername = document.getElementById("usernameInput").value;
            document.getElementById("usernameInput").value= "";
            const userInputRoom = document.getElementById("roomID").value;
            document.getElementById("roomID").value= "";
            document.getElementById("createInjectionRoom").innerHTML='    <p id="addchat"></p>\n' +
                "<input type=\"button\" id='gameMe' onclick=\"startgame()\" value=\"Start game\">\n" +
                '<img id="rock" onclick="submitRock()" src="" width="300" height="300" hidden>'+
                '<img id="paper" onclick="submitPaper()" src="" width="300" height="300" hidden>'+
                '<img id="scissor" onclick="submitScissor()" src="" width="300" height="300" hidden>'+
                '<img id="winnner"  src="" hidden>'+
                '<img id="losser"  src="" hidden>'+
                '<img id="tie"  src="" hidden>'+
                '<h id="waitForOtherplayer" hidden>Waiting for the other Player</h>'+
                '<input type="text" id="hiddenValue" value="'+userInputUsername+'" hidden><br>'

            socket.emit('joinGameRoom', {username: userInputUsername, room: userInputRoom});

        }
        function submitRock(){
            document.getElementById("waitForOtherplayer").hidden=false
            document.getElementById("rock").hidden=true;
            document.getElementById("paper").hidden=true;
            document.getElementById("scissor").hidden=true;
            document.getElementById("rock").src= ''
            document.getElementById("paper").src= ''
            document.getElementById("scissor").src= ''
            var hiddenvalueName= document.getElementById("hiddenValue").value;
            socket.emit('appendGameData', {username: hiddenvalueName, "pick": "rock"});
        }
        function submitPaper(){
            document.getElementById("waitForOtherplayer").hidden=false
            document.getElementById("rock").hidden=true;
            document.getElementById("paper").hidden=true;
            document.getElementById("scissor").hidden=true;
            document.getElementById("rock").src= ''
            document.getElementById("paper").src= ''
            document.getElementById("scissor").src= ''
            var hiddenvalueName= document.getElementById("hiddenValue").value;
            socket.emit('appendGameData', {username: hiddenvalueName, "pick": "paper"});
        }
        function submitScissor(){
            document.getElementById("waitForOtherplayer").hidden=false
            document.getElementById("rock").hidden=true;
            document.getElementById("paper").hidden=true;
            document.getElementById("scissor").hidden=true;
            document.getElementById("rock").src= ''
            document.getElementById("paper").src= ''
            document.getElementById("scissor").src= ''
            var hiddenvalueName= document.getElementById("hiddenValue").value;
            socket.emit('appendGameData', {username: hiddenvalueName, "pick": "scissor"});
        }
        socket.on('enterGameRoom', function(data){
            document.getElementById("addchat").innerHTML+= "<p>"+data+ "<br></p>"
        })
        function startgame(){
            document.getElementById("gameMe").hidden=true;
            document.getElementById("addchat").hidden=true;
            var hiddienIdUser= document.getElementById("hiddenValue").value
            socket.emit('startgame',{username: hiddienIdUser});
        }
        socket.on('genGame',function(data){
            var hiddienIdUser= document.getElementById("hiddenValue").value
            if (data["username"] == hiddienIdUser){
                document.getElementById("rock").hidden=false;
                document.getElementById("paper").hidden=false;
                document.getElementById("scissor").hidden=false;
                document.getElementById("rock").src= 'static/rock.PNG'
                document.getElementById("paper").src= 'static/paper.PNG'
                document.getElementById("scissor").src= 'static/scissors.PNG'
            }
            // document.getElementById("addchat").innerHTML+= "<p>"+data+ "<br></p>"
        })

        socket.on('gameResultAppend',function(data){
            var hiddienIdUser= document.getElementById("hiddenValue").value

            if(data["tie"] == "both"){
                document.getElementById("tie").hidden=false;
                document.getElementById("tie").src= 'static/tie.gif'
            }else if(hiddienIdUser == data["winner"]){
                document.getElementById("winnner").hidden=false;
                document.getElementById("winnner").src= 'static/winner.PNG'
            }else{
                document.getElementById("losser").hidden=false;
                document.getElementById("losser").src= 'static/losser.gif'
            }
            document.getElementById("addchat").hidden=false
            document.getElementById("addchat").innerHTML= "<h>To Start a new game reboot game<br></h>"
        })
    </script>
</head>
<body >
<h>Welcome to Rock Paper Scissor Two player Limit</h><br><br>
<label >Name:</label>
<input type="text" id="usernameInput" name="username"><br><br>
<label >Room:</label>
<input type="text" id="roomID" name="room"><br><br>
<input type="submit" value="Submit" onclick="gameroom()" >
<div id="createInjectionRoom">
</div>


</body>
</html>
