<body>
    <div id="everything" >

       
        <form id="myForm" action="/login" method="post">
            <!-- <input type="text" id="emailField" class="fields" name="emailField" placeholder="email address"><br> -->
            <input type="text" id="usernameField" class="fields" name="usernameField" placeholder="username"><br>
            <input type="password" id="passwordField" class="fields" name="passwordField" placeholder="password"><br>
            <input type="submit" value="Log in">
        </form>
    </div> 
    <!-- <script src="Register.js"></script>  -->
</body>
</html> 