<body>
    <div id="everything" >

        <div class="box"></div>
        <form id="myForm" action="#" method="post">
            <!-- <input type="text" id="emailField" class="fields" name="emailField" placeholder="email address"><br> -->
            <input type="text" id="usernameField" class="fields" name="usernameField" placeholder="username"><br>
            <input type="text" id="passwordField" class="fields" name="passwordField" placeholder="password"><br>
            <input type="text" id="passwordField2" class="fields" name="passwordField2" placeholder="re-enter password"><br>
            <!-- <input type="date" id="dateField" class="fields" name="dateField" placeholder="birthday"><br> -->
            <input type="submit" value="Register">
        </form>
    </div> 
    <!-- <script src="Register.js"></script>  -->
</body>
</html> 