<!DOCTYPE html>
<html>
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>

<!--    this is used to test if there is a connection -->
    <script type="text/javascript" charset="utf-8">

        var socket = io();
        socket.on('connect', function() {
            socket.emit('connected-event', {data: 'I\'m connected!'});
        });

        // This will be used to make a chat room conenection and join it and injection of html
        function chatroom(){
            var userInputUsername = document.getElementById("usernameInput").value;
            document.getElementById("usernameInput").value= "";
            var userInputRoom = document.getElementById("roomID").value;
            document.getElementById("roomID").value= "";
            document.getElementById("createInjectionRoom").innerHTML= '' +
                '<div style="border-style: inset;">\n' +
                '    <h>Welcome</h>\n' +
                '    <p id="addchat"></p>\n' +
                '    <input type="text" ><br><br>\n' +
                '    <input type="submit" value="Submit">\n' +
                '  </div>';
            socket.emit('join', {username: userInputUsername, room: userInputRoom});
        }
        socket.on('enterRoom', function(data){
            console.log(data);
            document.getElementById("addchat").textContent+= data+ "\n"


        })


    </script>
</head>
<body>
<h1>hi</h1>
<div >

    <label >Name:</label>
    <input type="text" id="usernameInput" name="username"><br><br>
    <label >Room:</label>
    <input type="text" id="roomID" name="room"><br><br>
    <input type="submit" value="Submit" onclick="chatroom()" >


</div>
<div id="createInjectionRoom">

</div>
</body>
</html>